@model HeroMovieViewModel

@{
    ViewData["Title"] = "Editar Relações com Heróis";
}

<h1>Editar Relações com Heróis</h1>

<h4>Dados</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateRelationsWithHero">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MovieModel.Name" class="control-label" hidden></label>
                <input asp-for="MovieModel.Name" class="form-control" hidden />
                <span asp-validation-for="MovieModel.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeroesModel" class="control-label"></label>
                <div class="row">
                    <div class="col-md-8">
                        @Html.DropDownList("HeroId", (SelectList)ViewBag.GetAllHeroes, "Selecione...", new { @class = "form-control" })
                    </div>
                    <div class="col-md-2">
                        <div class="btn btn-secondary" id="btnAddHero">
                            Adicionar
                        </div>
                    </div>
                </div>
                <ul id="listHeroes">
                    @if (Model.HeroesModel is null)
                    {
                        <li>Nenhuma arma adicionada</li>
                    }
                    else
                    {
                        foreach (var item in Model.HeroesModel)
                        {
                            <li>@Html.DisplayFor(itemModel => item.Name)<input type='hidden' name='chkHero' id='chkHero' class='chkHero' value=@item.HeroId /></li>
                        }
                    }
                </ul>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/Movie/UpdateRelationsWithHero.js" asp-append-version="true"></script>
}
