@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error!</h1>
<h2 class="text-danger">Lamentamos o problema, tente novamente mais tarde ou entre em contato com o administrador do sistema.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Página de erro</h3>
<div>
    <p>
        Ocorreu em problema no sistema <strong>(falha inesperada)</strong> lamentamos o problema, tente novamente mais tarde ou entre em contato com o administrador do sistema.
    </p>
</div>